*{
    margin: 0;
    padding: 0;
}
body{
    background-color:#E4C59E ;
    text-align: center;
}
.container{
    height: 70vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}
.box{
    height: 18vmin;
    width: 18vmin;
    background-color:#AF8260;
    color:#803D3B;
    border-radius: 10px;
    border: none;
    font-size: 8vmin;
}
#reset-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color:#322C2B ;
    border-radius: 1rem;
    border: none;
   color:#ffffff;
}
.new-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color:#322C2B ;
    border-radius: 1rem;
    border: none;
   color:#ffffff;
}
.msg-container{
    color: #322C2B;
    font-size:8mvin;
}
.main-winner-container{
    /* height: 40vmin; */
}
.hide{
    display: none;
}